@import url("https://fonts.googleapis.com/css?family=Jua:400");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jua", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  min-height: 100vh;
}

.container {
  position: relative;
  border-bottom: 2px solid #fff;
  height: 400px;
}

.container .cloud {
  position: relative;
  top: 50px;
  border-radius: 100px;
  background: #fff;
  width: 320px;
  height: 100px;
}

.container .cloud::before {
  position: absolute;
  top: -50px;
  left: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 90px 0 0 30px #fff;
  width: 110px;
  height: 110px;
  content: "";
}

.container .snow {
  position: relative;
  display: flex;
  column-gap: 4px;
  z-index: 1;
  padding: 0 20px;
}

.container .snow span {
  position: relative;
  bottom: 10px;
  border-radius: 50%;
  background: #fff;
  width: 10px;
  height: 10px;
  animation: animate calc(15s / var(--i)) linear infinite;
  transform-origin: bottom;
  opacity: 1;
}

@keyframes animate {
  0% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(298px) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translateY(298px) scale(0);
    opacity: 0.3;
  }
}
